<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blocknews</name>
            <displayName><![CDATA[News]]></displayName>
            <version><![CDATA[1.1]]></version>
            <description><![CDATA[Add News]]></description>
            <author><![CDATA[storemodules]]></author>
            <tab><![CDATA[News]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>